.divine-chart {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

body {
  background-color: transparent;
}

#divine-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9001;
  background-color: #000;
  opacity: .5;
}

#divine-modal {
  position: fixed;
  width: 60%;
  height: 80%;
  overflow-y: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 9002;
  border-radius: 20px;
}